# TODO: Use autoload/vimrc/fzf/chinese.vim s:chinese_punctuations

snippet chinese_comma
，
endsnippet

snippet chinese_full_stop
。
endsnippet

snippet chinese_enumeration_comma
、
endsnippet

snippet chinese_colon
：
endsnippet

snippet chinese_semicolon
；
endsnippet

snippet chinese_exclamation_mark
！
endsnippet

snippet chinese_question_mark
？
endsnippet

snippet chinese_left_bracket
「
endsnippet

snippet chinese_right_bracket
」
endsnippet
